/*Скидання стилів*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: Montserrat;
    scroll-behavior: smooth;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}


body{
    font-family: 'Source Code Pro';
}

header{
    display: flex;
    justify-content: space-around;
    height: 80px;
    align-items: center;
    background-color: #D84600;

}

.menu{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo img{
    width: 80px;
    height: 80px;
}

.link{
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    transition: all 0.3s ease 0s;
}

.link:hover{
    transform: scale(1.1);
}

.cart{
    background-color: transparent;
    padding: 10px 40px;
    border-radius: 20px;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    border: 2px solid #fff;
    transition: all 0.3s ease 0s;
}

.cart:hover{
    background-color: #4075BE;
}

.banner{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
    background-image: url(img/banner2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner_title{
    margin: 200px 0px 0px 0px;
    font-size: 100px;
    color: #D84600;
    font-weight: 700;
    font-family: 'Caveat';
    backdrop-filter: blur(3px);
    padding: 10px 20px;
}

.banner_text{
    font-size: 48px;
    color: #fff;
}

.catalog {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    width: 30%;
    margin: 10px;
    box-shadow: 0px 17px 22px -3px rgba(255, 98, 0);
    transition: transform 0.2s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.price {
    color: green;
    font-size: 1.2em;
}

.add-to-cart {
    background-color: #D84600;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.add-to-cart:hover {
    transform: scale(1.1);
    background-color: #632600;
    color: #fff;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.catalog_cnt{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    text-transform: uppercase;
}

.catalog_title{
    font-size: 48px;
    font-family: 'Caveat';
    margin-bottom: 40px;
}
.last{
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.last_title{
    font-size: 48px;
    font-family: 'Caveat';
    margin-bottom: 40px;
}


.comment_cnt{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.comment{
    width: 50%;
    background-color: #FF6200;
    color: #fff;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;

}

.nick{
    font-weight: 700;
}

.review{
    display: flex;
    align-items: center;justify-content: center;
}

.review_btn{
    background-color: #632600;
        padding: 10px 40px;
        border-radius: 0 20px 20px 0;
        font-size: 20px;
        color: #fff;
        font-weight: 700;
        border: 2px solid #fff;
        transition: all 0.3s ease 0s;
}

.review_btn:hover{
    border: 2px solid #632600;
    background-color: #fff;
    color: #632600;
}

.review_input{
    border: 2px solid #632600;
    padding: 12px 40px;
    border-radius: 20px 0 0 20px;
}